.section-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  margin-bottom: 4rem;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog:link,
.blog:visited {
  text-decoration: none;
  color: inherit;
}
