@import "@/app/mixins";

.section-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  margin-bottom: 4rem;
  @include respond("tab-land") {
    margin-bottom: 0rem;
  }
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include respond("desktop") {
    padding: 0 2rem;
  }

  @include respond("tab-land") {
    justify-content: space-evenly;

    .blog-wrapper {
      margin-top: 4rem;
    }
  }
}

.blog:link,
.blog:visited {
  text-decoration: none;
  color: inherit;
}
