.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-title {
  }

  &-select {
    font-family: inherit;
    font-size: var(--font-size-1_6rem);
    font-weight: var(--font-weight-medium);
    color: var(--text-dark);
    line-height: calc(3rem / 1.6rem);
    padding: 1rem 2rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: none;

    option {
      padding: 2rem;

      &:hover {
        background-color: cyan;
      }
    }
  }
}

.swiper {
  &__control {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin-top: 4rem;
  }

  &-pagination--custom {
    position: relative !important;
    opacity: 100%;
    bottom: auto !important;
    width: fit-content !important;

    .swiper-pagination-dot {
      opacity: 100%;
      border-radius: var(--border-radius-full);
      background-color: var(--bg-regular-gray);
      transform: scale(0.9);
      transition: transform 0.3s ease;
    }

    .swiper-pagination-custom-bullet-active {
      transition: transform 0.3s ease;
      transform: scale(1.2);
      background-color: var(--bg-primary-blue);
    }
  }

  &__prev-arrow-btn,
  &__next-arrow-btn {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s ease;

    .swiper__prev-arrow-btn-icon,
    .swiper__next-arrow-btn-icon {
      width: 24px;
      height: 24px;
      color: var(--bg-darkest-blue);
    }

    &:hover {
      .swiper__prev-arrow-btn-icon,
      .swiper__next-arrow-btn-icon {
        transform: scale(1.2);
      }
    }
  }
}
