@import url("https://fonts.cdnfonts.com/css/sofia-pro");
.rdrDateRangeWrapper {
  width: 90rem;
  height: 42.4rem;
  padding: 2.5rem;
  box-shadow: var(--box-shadow-2);
}

.rdrMonthsHorizontal {
  display: flex;
  justify-content: space-between;
}

.rdrMonth {
  width: 39rem;
}

.rdrWeekDays {
  font-family: "Sofia Pro", sans-serif;
  font-size: var(--font-size-1_4rem);
  font-weight: 600;
}

.rdrDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 11.53px;
  grid-row-gap: 11.22px;
  align-items: center;
}
//day button
.rdrDay {
  position: relative;
  font-family: inherit;
  font-size: var(--font-size-1_5rem);
  font-weight: var(--font-weight-regular);
  color: #02044a !important;

  //   width: 46.12px;
  //   height: 27.38px;

  width: 47.78px;
  height: 47.78px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  outline: none;
  background-color: transparent;
}

.rdrDayDisabled {
  font-family: inherit;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-1_5rem);
  color: #6a6b93 !important;
  .rdrDayNumber {
    text-decoration: line-through;
  }
}

// rdrDay rdrDayToday rdrDayWeekend rdrDayStartOfWeek

.rdrDayToday {
  font-family: inherit;

  width: 47.78px;
  height: 47.78px;
  border-radius: var(--border-radius-full);
  border: 2px solid var(--border-primary);
  outline: none;
  //   background-color: var(--bg-darker-blue);

  //   outline: 2px solid var(--border-white);
  //   outline-offset: -2px;
}

// .rdrDay.rdrDayHovered {
//   width: 47.78px;
//   height: 47.78px;
//   border-radius: var(--border-radius-full);
//   border: 2px solid var(--border-primary);

// }

.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview {
  position: absolute;
  width: 100%;
  height: 40px;
}

.rdrDayStartPreview,
.rdrDayEndPreview {
  width: 47.78px;
  height: 47.78px;
  // background-color: var(--bg-darker-blue);
  //   background-color: var(--bg-light-gray);
  border-radius: var(--border-radius-full);
  border: none;
  outline: 2px solid var(--border-primary);
  outline-offset: -2px;

  & ~ .rdrDayNumber {
    color: inherit;
    z-index: 1;
  }
}

// .rdrDayEndPreview::after {
//   content: "";
//   position: absolute;
//   width: 50%;
//   height: 100%;
//   background-color: var(--bg-light-gray);
//   z-index: -1;
//     background-color: blue;
// }

.rdrDayInPreview {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: var(--bg-light-gray);
}

.rdrDayInPreview::before,
.rdrDayInPreview::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  z-index: -1;
  background-color: inherit;

  //   background-color: var(--bg-light-gray);
}

.rdrDayInPreview + .rdrDayNumber {
  z-index: 1;
  color: #02044a;
}

.rdrDayInPreview::before {
  right: 100%;
}

.rdrDayInPreview::after {
  left: 100%;
}

.rdrDay.rdrDayStartOfWeek {
  .rdrDayInPreview::before {
    right: 0%;
  }
}

.rdrDay.rdrDayEndOfWeek {
  .rdrDayInPreview::after {
    left: 0%;
  }
}

////////////////////////////////////////////////////////////////
.rdrDayNumber {
  position: absolute;
}

.rdrStartEdge,
.rdrInRange,
.rdrEndEdge {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: var(--bg-light-gray);
}

.rdrStartEdge,
.rdrEndEdge {
  width: 47.78px;
  height: 47.78px;
  background-color: var(--bg-darker-blue);
  border-radius: var(--border-radius-full);
  border: none;
  outline: 2px solid var(--border-white);
  outline-offset: -2px;

  & ~ .rdrDayNumber {
    color: var(--text-white);
    z-index: 1;
  }
}

.rdrInRange::before,
.rdrInRange::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: inherit;
}

.rdrInRange + .rdrDayNumber {
  z-index: 1;
  color: #02044a;
}

.rdrInRange::before {
  right: 100%;
}

.rdrInRange::after {
  left: 100%;
}

.rdrDay.rdrDayStartOfWeek {
  .rdrInRange::before {
    right: 0%;
  }
}

.rdrDay.rdrDayEndOfWeek {
  .rdrInRange::after {
    left: 0%;
  }
}
