@import "@/app/utilities";

@mixin hoverEffect {
  &:not(:disabled):hover {
    background-color: var(--darkest-gray);
    color: var(--white);
    svg {
      color: var(--white);
    }
  }
  &:active {
    box-shadow: none;
  }
}

@mixin hoverEffectOutlineArrowBtn {
  &:not(:disabled):hover {
    background-color: var(--darkest-gray);
    border: var(--darkest-gray);

    svg {
      color: var(--white);
    }
  }

  &:not(:disabled):active {
    box-shadow: var(--box-shadow-1);
  }
}

.arrow-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-family: inherit;
  transition: all 0.2s ease;
  cursor: pointer;

  &:link,
  &:visited {
    @include hoverEffect;
  }

  svg {
    color: var(--darkest-gray);
  }

  &-default {
    background-color: var(--white);
    box-shadow: var(--box-shadow-1);
    @include hoverEffect;
  }

  &-outline {
    background-color: var(--white);
    border: 1px solid var(--border-color);
    box-shadow: none;
    @include hoverEffectOutlineArrowBtn;
  }

  &-size-sm {
    width: 3.2rem;
    height: 3.2rem;
  }
  &-size-md {
    width: 4rem;
    height: 4rem;
  }

  &-size-lg {
    width: 5rem;
    height: 5rem;
  }

  &-size-xl {
    width: 6rem;
    height: 6rem;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
