@import "@/app/utilities";

@mixin rippelEffect($bg-color, $color, $active-shadow) {
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;

  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;

    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%) scale(0.1);

    background-color: $bg-color;
    opacity: 0;
    transition: all 0.2s ease 0.1s;
  }

  &:hover::before {
    transform: translate(-50%, -50%) scale(4);
    z-index: -1;
    opacity: 1;
  }

  &:hover {
    color: $color;
  }

  &:active {
    box-shadow: $active-shadow;
  }
}

@mixin hoverEffect($bg-color) {
  transition: background-color 0.2s ease;
  &:hover {
    background-color: #{$bg-color};
  }
}

.button {
  font-family: inherit;
  font-size: var(--font-size-1_4rem);
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &-link:link,
  &-link:visited {
    text-decoration: none;
    font-size: var(--font-size-1_4rem);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &-default {
    color: var(--primary-blue);
    background-color: var(--white-gray);
  }

  &-default-outline {
    background-color: transparent;
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);

    @include rippelEffect(
      var(--white-gray),
      var(--primary-blue),
      var(--box-shadow-1)
    );
  }

  &-white {
    color: var(--darkest-blue);
    background-color: var(--white);
  }

  &-white-outline {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);

    @include rippelEffect(
      var(--white),
      var(--darkest-blue),
      var(--box-shadow-1)
    );
  }

  &-blue {
    color: var(--white);
    background-color: var(--primary-blue);
    @include hoverEffect(var(--darkest-blue));
  }

  &-blue-outline {
    background-color: transparent;
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);

    @include rippelEffect(
      var(--primary-blue),
      var(--white),
      var(--box-shadow-1)
    );
  }

  &-dark-blue {
    color: var(--white);
    background-color: var(--dark-blue);
  }

  &-dark-blue-outline {
    background-color: transparent;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);

    @include rippelEffect(var(--dark-blue), var(--white), var(--box-shadow-1));
  }

  &-darker-blue {
    color: var(--white);
    background-color: var(--darker-blue);
  }

  &-darker-blue-outline {
    background-color: transparent;
    color: var(--darker-blue);
    border: 1px solid var(--darker-blue);

    @include rippelEffect(
      var(--darker-blue),
      var(--white),
      var(--box-shadow-1)
    );
  }

  &-darkest-gray {
    color: var(--white);
    background-color: var(--darkest-blue);
  }

  &-darkest-gray-outline {
    background-color: transparent;
    color: var(--darkest-blue);
    border: 1px solid var(--darkest-blue);

    @include rippelEffect(
      var(--darkest-blue),
      var(--white),
      var(--box-shadow-1)
    );
  }
}

.button-size-sm {
  padding: 14px 29px;
}

.button-size-md {
  padding: 15px 30px;
}

.button-size-lg {
  padding: 19px 35px;
}

.gap-10px {
  gap: 10px;
}

.gap-13px {
  gap: 13px;
}
