.cat__nav {
  position: absolute;
  top: 145%;
  left: 0;
  padding: 3rem;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow-2);
  border-radius: var(--border-radius-small);
  list-style: none;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 4.4rem;

  &--item {
    position: relative;
    display: inline-block;
    font-family: inherit;
    font-size: var(--font-size-1_6rem);
    font-weight: var(--font-weight-medium);
    line-height: calc(3rem / 1.6rem);
    text-wrap: nowrap;
    color: var(--text-light);
  }
}

.cat__navTab--details {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column: 1 / -1;
}
