.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: inherit;

  &__brand {
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 3.8rem;

    &-item {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: inherit;
    }
  }

  &__actions {
    display: flex;
  }
}
