.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-1_5rem);
  font-weight: inherit;
  color: inherit;

  &__actions {
    display: flex;
    gap: 2rem;
  }
}
