.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #05103866;
    box-shadow: var(--box-shadow-2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  &__container {
    width: 100%;
    height: auto;
    background-color: var(--bg-white);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-2);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    border-bottom: 1px solid var(--border-color);
  }

  &__body {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 4rem;
    padding-bottom: 4.7rem;
  }

  &__title {
    font-family: inherit;
    font-size: var(--font-size-2rem);
    font-weight: var(--font-weight-medium);
    color: var(--text-dark);
  }

  &__close--btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
