.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #05103866;
    box-shadow: var(--box-shadow-2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  &__container {
    width: 100%;
    height: auto;
    background-color: var(--bg-white);
    border-radius: var(--border-radius-small);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    border-bottom: 1px solid var(--border-color);
  }

  &__close--btn {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
