//Border Radius
.rounded-sm {
  border-radius: var(--border-radius-small);
}
.rounded-md {
  border-radius: var(--border-radius-medium);
}
.rounded-lg {
  border-radius: var(--border-radius-large);
}

.rounded-full {
  border-radius: var(--border-radius-full);
}

//font
.font-normal {
  font-weight: var(--font-weight-regular);
}

.font-medium {
  font-weight: var(--font-weight-medium);
}

.font-semibold {
  font-weight: var(--font-weight-semibold);
}

//Shadow
// Subtle shadow
.shadow-subtle {
  box-shadow: var(--box-shadow-1);
}

// Soft shadow
.shadow-soft {
  box-shadow: var(--box-shadow-2);
}

// Padding
.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 0 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}
