//Container
//NavContainer
.nav-container {
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
}

//Color
/* Primary Colors */
.primary-blue {
  color: var(--primary-blue);
}

.dark-blue {
  color: var(--dark-blue);
}

.darker-blue {
  color: var(--darker-blue);
}

/* Accent Colors */
.highlight-yellow {
  color: var(--highlight-yellow);
}

/* Neutral Colors */
.white {
  color: var(--white);
}

.white-gray {
  color: var(--white-gray);
}

.dark-gray {
  color: var(--dark-gray);
}

.darkest-gray {
  color: var(--darkest-gray);
}

/* Text Colors */
.text-dark {
  color: var(--text-dark);
}

.text-light {
  color: var(--text-light);
}

/* Border Color */
.border-color {
  border-color: var(--border-color);
}

/* Background Colors */
.dark-gray-bg {
  background-color: var(--dark-gray-bg);
}
.light-gray-bg {
  background-color: var(--light-gray-bg);
}

.dark-blue-bg {
  background-color: var(--dark-blue-bg);
}
.light-blue-bg {
  background-color: var(--light-blue-bg);
}

.light-green-bg {
  background-color: var(--green-bg);
}

/* Transparent Background */
.transparent-bg {
  background-color: var(--transparent);
}

/* Transparent Text */
.transparent-text {
  color: var(--transparent);
}

/* Transparent Border */
.transparent-border {
  border-color: var(--transparent);
}

//Border Radius
.rounded-sm {
  border-radius: var(--border-radius-small);
}
.rounded-md {
  border-radius: var(--border-radius-medium);
}
.rounded-lg {
  border-radius: var(--border-radius-large);
}

.rounded-full {
  border-radius: var(--border-radius-full);
}

//font
.font-normal {
  font-weight: var(--font-weight-regular);
}

.font-medium {
  font-weight: var(--font-weight-medium);
}

.font-semibold {
  font-weight: var(--font-weight-semibold);
}

//Shadow
// Subtle shadow
.shadow-subtle {
  box-shadow: var(--box-shadow-1);
}

// Soft shadow
.shadow-soft {
  box-shadow: var(--box-shadow-2);
}

// Padding
.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 0 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}
