@import "mixins";
//Container
.container-fluid {
  max-width: 192rem;
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
}

.container {
  max-width: 129rem;
  margin: 0 auto;
}

//sticky Navigation
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

//divider
.divider-line {
  width: 1px;
  height: auto;
  opacity: 0.2;
}

//button
.btn {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: var(--transparent);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: inherit;

  &:disabled {
    cursor: not-allowed;
  }
}

//Heading
.s-heading {
  font-family: inherit;
  font-size: var(--font-size-3rem);
  font-weight: var(--font-weight-semibold);
  line-height: calc(4.3rem / 3rem);
  color: var(--text-dark);
}

.s-heading-subtitle {
  font-family: inherit;
  font-size: var(--font-size-1_6rem);
  font-weight: var(--font-weight-regular);
  line-height: calc(3rem / 1.6rem);
  color: var(--text-light);
}

//generic classes
.active-primary {
  color: var(--text-primary-blue) !important;
}

.selected-primary-light {
  background-color: rgba(53, 84, 209, 0.05) !important;
}

//Color
/* Primary Colors */
.primary-blue {
  color: var(--primary-blue);
}

.dark-blue {
  color: var(--dark-blue);
}

.darker-blue {
  color: var(--darker-blue);
}

/* Accent Colors */
.highlight-yellow {
  color: var(--highlight-yellow);
}

/* Text Colors */
.text-transparent {
  color: var(--transparent);
}

.text-white {
  color: var(--text-white);
}

.text-light {
  color: var(--text-light);
}

.text-dark {
  color: var(--text-dark);
}

/* Border Color */
.border-color {
  border-color: var(--border-color);
}

.border-white {
  border-color: var(--border-white);
}

//Border
.border-b-white {
  border-bottom: 1px solid var(--border-white);
}

/* Background Colors */
.bg-white {
  background-color: var(--bg-white);
}

.bg-light-gray {
  background-color: var(--bg-light-gray);
}

.bg-dark-gray {
  background-color: var(--bg-dark-gray);
}

.bg-light-blue {
  background-color: var(--bg-light-blue);
}

.bg-dark-blue {
  background-color: var(--bg-dark-blue);
}

.bg-darker-blue {
  background-color: var(--bg-darker-blue);
}

.bg-darkest-blue {
  background-color: var(--bg-darkest-blue);
}

.bg-light-green {
  background-color: var(--bg-light-green);
}

/* Transparent Background */
.bg-transparent {
  background-color: var(--bg-transparent);
}

/* Transparent Border */
.border-transparent {
  border-color: var(--transparent);
}

//Border Radius
.rounded-sm {
  border-radius: var(--border-radius-small);
}
.rounded-md {
  border-radius: var(--border-radius-medium);
}
.rounded-lg {
  border-radius: var(--border-radius-large);
}

.rounded-full {
  border-radius: var(--border-radius-full);
}

//font
.font-normal {
  font-weight: var(--font-weight-regular);
}

.font-medium {
  font-weight: var(--font-weight-medium);
}

.font-semibold {
  font-weight: var(--font-weight-semibold);
}

//Shadow
// Subtle shadow
.shadow-subtle {
  box-shadow: var(--box-shadow-1);
}

// Soft shadow
.shadow-soft {
  box-shadow: var(--box-shadow-2);
}

// Padding
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-12 {
  padding-left: 12rem;
  padding-right: 12rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-12 {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pt-5 {
  padding-top: 5rem;
}
.pt-6 {
  padding-top: 6rem;
}

.pt-12 {
  padding-top: 12rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-12 {
  padding-bottom: 12rem;
}

.pl-1 {
  padding-left: 1rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pl-3 {
  padding-left: 3rem;
}

//Margin
.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

//Flex
.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

//width
.w-100 {
  width: 100%;
}
.w-1 {
  width: 1rem;
}

.w-2 {
  width: 2rem;
}

.w-3 {
  width: 3rem;
}

.w-4 {
  width: 4rem;
}

//height
.h-1 {
  height: 1rem;
}

.h-2 {
  height: 2rem;
}

.h-3 {
  height: 3rem;
}

.h-4 {
  height: 4rem;
}

//wdith
.w-100 {
  width: 100%;
}

//position
.absolute {
  position: absolute;
}

// Animation
.transition-3ms {
  transition: all 0.3s ease;
}

.transition-4ms {
  transition: all 0.4s ease;
}

.transition-5ms {
  transition: all 0.5s ease;
}
