.search-form {
  // width: 90rem;
  box-sizing: border-box;
  background-color: var(--bg-light-blue);
  box-shadow: var(--box-shadow-2);
  border-radius: var(--border-radius-full);
  // overflow: hidden;

  display: inline-flex;
  flex-wrap: wrap;
  gap: 1.03px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  &__inputs {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-left: 3.6rem;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;

  &:nth-child(2),
  &:nth-child(3) {
    border-left: 1px solid var(--border-soft-blue);
    padding-left: 3rem;
  }

  &:nth-child(1) {
    width: 20rem;
  }

  &:nth-child(2) {
    width: 20rem;
  }
  &:nth-child(3) {
    width: 23.7rem;
  }
}

.form-label {
  font-family: inherit;
  color: var(--text-dark);
  font-size: var(--font-size-1_5rem);
  font-weight: var(--font-weight-medium);
  line-height: calc(2.2rem / 1.5rem);
  margin-bottom: 3px;
}

.form-input {
  padding: 0px 4px;
  box-sizing: border-box;
  width: 20rem;
  height: 26px;
  border-radius: var(--border-radius-medium);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-1_5rem);
  color: var(--text-light);
  letter-spacing: 0.3px;
  margin-left: -3px;
  background-color: transparent;

  border: none;
  outline: none;

  &::placeholder {
    font-family: inherit;
    font-size: var(--font-size-1_5rem);
  }
}

.form-date {
  position: absolute;
  // top: 150%;
  transform: translateX(-30%);
}

.form-date-tri-t::before {
  content: "";
  display: inline-block;
  position: absolute;
  border: 8px solid transparent;
  border-top-color: var(--border-white);
  top: 100%;
  left: 35%;
}

.form-date-tri-b::before {
  content: "";
  display: inline-block;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: var(--border-white);
  bottom: 100%;
  left: 35%;
}

.form-value {
  font-family: inherit;
  font-size: var(--font-size-1_5rem);
  font-weight: var(--font-weight-regular);
  color: var(--text-light);
  line-height: calc(2.6rem / 1.5rem);
}

.form-btn {
  letter-spacing: 0.16px;
}
