@import "@/app/mixins";

.subscription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 6.5rem 0;

  @include respond("desktop") {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include respond("tab-port") {
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 3.7rem;
    flex-wrap: wrap;

    @include respond("tab-port") {
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
    }

    &-img-wrap {
      width: 6rem;
      height: 6rem;
    }

    &-img {
      width: 100%;
      height: 100%;
    }

    &-title {
      font-family: inherit;
      color: var(--text-white);
      font-style: normal;
      font-weight: var(--font-weight-semibold);
      font-size: var(--font-size-2_6rem);
      line-height: calc(3.8rem / 2.6rem);

      @include respond("tab-port") {
        text-align: center;
      }
    }

    &-subtitle {
      font-family: inherit;
      color: var(--text-white);
      font-style: normal;
      font-weight: var(--font-weight-regular);
      line-height: calc(3rem / 1.6rem);

      @include respond("tab-port") {
        text-align: center;
      }
    }
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-input {
      width: 41rem;
      border-radius: var(--border-radius-small);

      font-family: inherit;
      font-size: var(--font-size-1_5rem);
      font-weight: var(--font-weight-regular);
      line-height: calc(2.6rem / 1.5rem);
      letter-spacing: 0.3px;

      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 2rem;

      background-color: var(--bg-white);
      color: var(--text-dark);
      outline: none;

      &:invalid {
        border: 1px solid var(--border-semantic-red);
        outline: 1px solid var(--border-semantic-red);
      }
    }

    &-btn {
      &:hover {
        background-color: var(--bg-light-blue) !important;
        color: var(--text-dark);
      }
    }
  }
}
