.f-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid var(--border-color);

  &__left {
    display: flex;
    align-items: center;
    gap: 3rem;

    &-list {
      display: flex;

      &-item {
        margin-right: 8px;
        line-height: 1;

        &::marker {
          color: var(--text-light);
        }
      }
    }

    &-link {
      margin-right: 1.9rem;
    }

    &-text,
    &-link {
      font-family: inherit;
      font-size: var(--font-size-1_4rem);
      font-weight: var(--font-weight-regular);
      line-height: calc(2rem / 1.4rem);

      color: var(--text-dark);
    }
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
  }

  &__lc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    &-l {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &-l-link,
    &-c-link {
      font-family: inherit;
      font-size: var(--font-size-1_4rem);
      font-weight: var(--font-weight-medium);
      line-height: calc(2rem / 1.4rem);
      color: var(--text-dark);

      &:link,
      &:visited {
        span {
          text-decoration: underline;
          text-decoration-color: var(--text-dark);
          text-decoration-skip-ink: var(--text-dark);
          text-decoration-thickness: 1px;
        }
      }
    }
  }

  &__right-social {
    display: flex;
    align-items: center;
    gap: 2rem;

    &-link:link,
    &-link:visited {
      color: var(--text-dark);
    }
  }
}
