@import "@/app/mixins";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-1_5rem);
  font-weight: inherit;
  color: inherit;

  &__brand-link {
    &:link,
    &:visited {
      text-decoration: none;
      padding: 0;
      margin: 0;
      height: 5rem;
    }
  }

  @include respond("desktop-lg") {
    &__cur-lng {
      display: none;
    }
  }

  &__actions {
    display: flex;
    gap: 2rem;
  }
}
