@import "@/app/mixins";

.nav {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-1_5rem);
    font-weight: inherit;
    color: inherit;
  }

  &__brand-link {
    &:link,
    &:visited {
      text-decoration: none;
      padding: 0;
      margin: 0;
      height: 5rem;
    }
  }

  &__brand-mobile {
    display: none;
  }

  @include respond("desktop-lg") {
    &__cur-lng {
      display: none;
    }
  }

  &__actions {
    display: flex;
    gap: 2rem;

    @include respond("phone") {
      display: none;
    }
  }

  &__toggler {
    display: none;
  }

  @include respond("desktop") {
    & {
      position: relative;
      height: 9rem;
    }

    &:global(.sidebar-visible) .backdrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 3;
      background: rgba(5, 16, 56, 0.4);
      box-shadow: var(--box-shadow-2);
    }

    &__main {
      position: fixed;
      top: 0;
      left: 0;

      width: 42.8rem;
      height: 100vh;
      z-index: 3;

      background-color: var(--bg-white);
      color: var(--text-dark);

      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      gap: 0;
      transform: translateX(-100%);

      transition: transform 0.3s ease;
    }

    &__sidebar-actions {
      flex: 1 0 5%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: flex-end;
      padding-bottom: 3rem;
      padding-top: 1rem;
    }

    &__sidebar-cur-lng {
      display: flex;
      align-items: center;
      gap: 2rem;

      & > :global(.divider-line) {
        width: 1px;
        height: 100%;
        opacity: 100%;
        background-color: var(--border-color);
      }
    }

    &:global(.sidebar-visible) .nav__main {
      transform: translateX(0);
      overflow-y: auto;
    }

    &:global(.sidebar-visible) &__brand-mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid var(--border-color);
      padding: 2rem;
    }

    &__brand-link {
      &:link,
      &:visited {
        position: relative;
        left: 33rem;
        top: 2rem;
        opacity: 100%;
        visibility: visible;
        transition: opacity 0.3s ease 0.3s;
      }
    }
    @include respond("tab-port") {
      &__brand-link {
        &:link,
        &:visited {
          left: 33rem;
        }
      }
      &__brand-img {
        height: 4rem;
      }
    }

    &:global(.sidebar-visible) &__brand-link {
      &:link,
      &:visited {
        opacity: 0;
        display: none;
      }
    }

    &__cur-lng-act {
      gap: 3.5rem;
      position: absolute;
      top: 2rem;
      right: 2rem;
      @include respond("phone") {
        top: 3rem;
      }
    }

    &__toggler {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}
