@import "@/app/mixins";

.nav {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-1_5rem);
    font-weight: inherit;
    color: inherit;
  }

  &__brand-link {
    &:link,
    &:visited {
      text-decoration: none;
      padding: 0;
      margin: 0;
      height: 5rem;
    }
  }
  &__brand-mobile {
    display: none;
  }

  @include respond("desktop-lg") {
    &__cur-lng {
      display: none;
    }
  }

  &__actions {
    display: flex;
    gap: 2rem;
  }

  &__toggler {
    display: none;
  }

  @include respond("desktop") {
    & {
      position: relative;
      height: 9rem;
    }

    &.sidebar-visible .backdrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 3;
      background: rgba(5, 16, 56, 0.4);
      box-shadow: var(--box-shadow-2);
    }
    &__wrapper {
    }

    &__main {
      position: absolute;
      top: 0;
      left: 0;

      width: 428px;
      height: 100vh;
      z-index: 3;

      background-color: var(--bg-white);
      color: var(--text-dark);

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transform: translateX(-100%);
      transition: transform 0.3s ease;

      overflow-y: scroll;
    }

    &.sidebar-visible .nav__main {
      transform: translateX(0);
    }

    &.sidebar-visible &__brand-mobile {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid var(--border-color);
      padding: 2rem;
    }

    &__brand-link {
      &:link,
      &:visited {
        position: absolute;
        left: calc(100% + 2rem);
        top: 2rem;
        opacity: 100%;
        overflow: visible;

        visibility: visible;
        transition: opacity 0.3s ease 0.3s;
      }
    }

    &.sidebar-visible &__brand-link {
      &:link,
      &:visited {
        opacity: 0;
        visibility: collapse;
      }
    }

    &__cur-lng-act {
      gap: 3.5rem;
      position: absolute;
      top: 2rem;
      right: 2rem;
    }

    &__toggler {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}
