@import "@/app/mixins";

.slide-container {
  position: relative;

  :global(.swiper-slide) {
    width: fit-content;

    @include respond("phone") {
      width: auto;
    }
  }

  .slide-previous-btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
  }

  .slide-next-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
  }

  .slide-scroll-bar {
    position: absolute;
    height: 3px;
    background-color: var(--bg-light-gray);
    border-radius: var(--border-radius-full);
    left: 0;
    top: 100%;
    margin-top: 4rem;

    &-control {
      // width: 40rem;
      height: 100%;
      background-color: var(--bg-dark-blue);
      cursor: pointer;
      border-radius: var(--border-radius-full);
    }
  }
}
